body{
    background-color: #efeff0;
}
.barra-azul{
    background-color: #00c2e0;
}
.area-login{
    width: 100%;
    border-radius: 30px;
    background-color: #0d436e;
    margin-left: 10%;
}
.form-login{
    margin-left: 40px;
    margin-right: 40px;
}
.form-login h1{
    color: #00c2e0;
}
.btn-primary{
    background-color: #00c2e0;
    border-color:#00c2e0;;
}
.btn-primary:hover{
    background-color: #00b8d4;
}
@media only screen and (max-width: 600px){
    .informacoes{
        display: none;
    }
    .area-login{
        margin: 0 auto;
        margin-left: 13px;
    }
}